@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
@import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';

@import 'partials/header';
@import 'partials/aside';

$corporateColor: tomato;

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

* {
   
    border: 1px color solid tomato;
}

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;
    color: #8c8c8d;
    min-height: 100vh;
    background-color: #111113;
    
    
}

/* UTILITIES */
@mixin menu_no_bullets {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin full_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin icons {
    display: flex;
    font-size: 1.2rem;
    color:#85848a;
}



@mixin icons_active {
    display: flex;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
}

@mixin item {
    background-color: #2f2f3285;
}

@mixin item_active {
    background-color: #2f2f32;
}

/* Layout */
.app{

    display: grid;
    grid-template-columns: minmax(200px, 250px) minmax(300px, 400px) minmax(500px, 1fr);
    grid-template-rows: auto auto 1fr;
    height: 100vh;

    .header{

        grid-area: 1 / 1 / span 1 / span 1;
    }

    .search{

        grid-area: 1 / 2 / span 1 / span 1;
    }

    .navigation_options{

       grid-area:  1 / 3 / span 1 / span 1 ;
    }

    .new_button{}

    .aside{

        grid-area: 3 / 1 / span 1 /span 1;
        
    }
    
    .organitation{
        box-shadow: 3px 1px 7px  rgb(0, 0, 0);

    }

    .mensages_inbox{

        grid-area: 3 / 2 / span 1 / span 1;
        box-shadow: 3px 1px 7px  rgb(0, 0, 0);

        .mensages_inbox_item{
            .mensage_content{
                width: 310px;
            }
        }
        
    }

    .main{

        grid-area: 2 / 3 / span 2 / span 1;
    }


    @media screen and (max-width: 1080px) { 

        grid-template-columns: repeat(3, 1fr);

        .header{

            grid-area: 1 / 1 / span 1 / span 1;
        }
    
        .search{
    
            grid-area: 1 / 2 / span 1 / span 1;
        }
    
        .navigation_options{
    
           grid-area:  1 / 3 / span 1 / span 1 ;
        }
    
        .new_button{

            position: fixed;
            bottom: 1rem;
            right: 1rem;

            a{
                
                .name{
                    visibility: hidden;
                    display: none;
                    transform: visibility 350ms ease;

                }

                &:hover{

                    .name{
                        display: block;
                    visibility: visible;
                    }
                }

               
            }
        }
    
        .aside{
    
            grid-area: 2 / 1 / span 2 /span 1;

            z-index: 2;
           

            transform: translateX(-100%);
            transition: transform 350ms ease;

            &.open {
                transform: translateX(0%);
            }

            
        }
        
        .organitation{

            grid-area: 2 / 1 / span 1 / span 1;

            .tab{
                padding: 1rem;
            }
            
    
        }
    
        .mensages_inbox{
    
            grid-area: 3 / 1 / span 1 / span 1;
            width: 300px;
            
            .mensages_inbox_item{
               
                .mensage_user_pic{
                   
                }
                .mensage_user_data{

                    .user_name{
                        font-size: 1rem;
                    }
                    .date{
                        font-size: 0.8rem;
                    }
                }
                .mensage_content{
                    width: 200px;
                }
            }

            
        }
    
        .main{
    
            grid-area: 2 / 2 / span 2 / span 2;

            .mail{
                .head{
                    .head_data{
                        .direction{
                            display: none;
                        }

                        .other{
                            display: block;
                        }
                    }
                }
            }

            
        }
    


        
    }

    @media screen and (max-width: 720px){

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto / 1fr / auto;

        .header{

           display: none;
        }
    
        .search{
    
            grid-area: 1 / 1 / span 1 / span 1;
            padding: 1rem;
        }
    
        .navigation_options{
    
            grid-area: 1 / 2 / span 1 / span 1;
            padding: 1rem;
             .navigation_options_tools{
                 .navigation_options_tools_items{
                     display: none;
                 }
             }
        }
    
        .new_button{

            position: fixed;
            bottom: 3.5rem;
            right: 1rem;
        }
    
        .aside{
    
            grid-area: 2 / 1 / span 1 /span 2;

            z-index: 2;
            
            transform: translateX(-100%);
            transition: transform 350ms ease;

            &.open {
                transform: translateX(0%);

            }
        }
        
        .organitation{
    
            grid-area: 3 / 1 / span 1 / span 2;
            
            
        }
    
        .mensages_inbox{
    
            grid-area: 2 / 1 / span 1 / span 2;
            width: 100%;
            flex-basis: 100%;
            .mensages_inbox_item{
                .mensage_content{
                    width: 260px;
                }
            }
            
        }
    
        .main{
    
            grid-area: 2 / 1 / span 1 / span 2;

            z-index: 2;
            background-color:  #151417;

            transform: translateY(-150%);
            transition: transform 350ms ease;

            &.open {
                transform: translateY(0%);

                .mail{
                    .head{
                        .head_data{
                            .direction{
                                display: none;
                            }

                            .other{
                                display: block;
                            }
                        }
                    }
                }
            }
        }

    }

    
}


/* ======Components====== */




.new_button{
    
    padding: .25rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        padding: .5rem 2rem;
        border-radius: 999999px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        width: 100%;
        box-shadow: 3px 1px 5px  rgb(0, 0, 0);
        transition: box-shadow 350ms ease;
     
        .name{
            color: #19181d;
            flex-basis: 100%;
            margin-right: 0.5rem;

        }

        &:hover{
            box-shadow: 3px 1px 5px  rgb(158, 158, 158);
            background-color: rgb(230, 230, 230);
        }

        
    }

}



.organitation{
    display: flex;
    
    .tab{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
       

        span{
            @include icons();
            
        }

        .name{
            font-size: 1rem ;
            margin-left: 0.25rem;
            font-size: 0.85rem;
        }

        &:hover{

            span{
                @include icons_active();
            }
    
            .name{
                font-weight: bold;
                color: white;
                font-size: 0.85rem;
                
            }

        }

        &.active{
            border-bottom: 3px solid white;

            span{
                @include icons_active();
            }
    
            .name{
                font-weight: bold;
                color: white;
                font-size: 0.85rem;
            }

        }
    }
}

.mensages_inbox{

    overflow: auto;
    
    
    .mensages_inbox_item{

        a{
            
        display: flex;
        padding: 1rem;
       
        border-bottom: 1px solid #85848a;
        border-top: 1px solid #85848a;
       
        

        .mensage_user_pic{
            
          
            width: 50px;
            height: 50px;
            border-radius: 50%;
            flex-shrink: 0;
            margin-right: 1rem;
            
            overflow: hidden;
            
            img{
               @include full_image(); 
               
            }

           

        }

        .mensage_content{
           
            .mensage_user_data{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                color: rgb(255, 255, 255);
                margin-bottom: 0.5rem;

                .user_name{
                    display: flex;
                    font-size: 1.3rem ;
                   
                }

                .material-icons{
                    @include icons();
                }

                .date{
                    display: flex;
                    flex-basis: auto;
                    font-weight: normal;
                    font-size: 0.8rem;
                }

            }

            .mensage_title{
                font-weight: normal;
                color: rgb(255, 255, 255);
                
                    margin-bottom: 0rem;
                    
            }

            .mensage_resume{
                display: flex;
                color: #8c8c8d;
               
                
                .resume{
                   
                    margin-bottom: 0rem;
                    width: 100%;
                }

                .special_icon{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                   
                    span{
                        @include icons();

                       

                        
                    }

                   &.active{
                       span{
                        color: rgb(255, 217, 0);
                       }
                   }

                }
            }

            
        
        }
        }


        
    
    
        &:hover{

            a{
                @include item();
            }

            
            
         }
    
         &.active{

            a{
                @include item_active();
            border-radius: 0 15px 15px 0 ;
            border-bottom: none;
            border-top: none;
            }
            
           
         }
    }
}






